<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>OTP Validation</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="container">
		
		 <div class="col-md-4">
			 <form class="form-signin" action="#" th:action="@{/otpValidation}" th:object="${otpInput}" method="post">		    
			    <div class="form-group">
	                <label>OTP</label>
	                <input type="text" id="otpCode" th:field="*{otpCode}"  class="form-control" placeholder="otp">
	                <input type="hidden" th:value="${hashedOtpCode}" th:attr="name='hashedOtpCode'" />
	                 <div>
	                <p></p>
		            </div>
		            	<button type="submit" class="btn btn-primary">Validate</button>
	           		</div>
			</form>
		 </div>
	</div>	

</body>
</html>